.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.vscode
inst/doc
README.html
armadillotest/src/*.o
armadillotest/src/*.so
dev/benchmarks.rds
dev/benchmarks.r
dev/benchmarks_cpp11.cpp
pkgdown
inst/arxiv_preprint/paper.aux
inst/arxiv_preprint/paper.idx
inst/arxiv_preprint/paper.out
inst/arxiv_preprint/paper.pdf
inst/arxiv_preprint/paper.toc
inst/arxiv_preprint/paper.tex
inst/rjournal_submission/armadillo.html
inst/rjournal_submission/armadillo.pdf
inst/rjournal_submission/armadillo.tex
inst/rjournal_submission/armadillo.R
inst/rjournal_submission/motivation-letter/motivation-letter.md
inst/rjournal_submission/armadillo.log
inst/rjournal_submission/RJwrapper.log
