.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.vscode
inst/doc
README.html
armadillotest/src/*.o
armadillotest/src/*.so
dev/benchmarks.rds
dev/benchmarks.r
dev/benchmarks_cpp11.cpp
pkgdown
paper/*.log
paper/*.aux
paper/*.idx
paper/*.toc
paper/*.out
paper/*.pdf
paper/*.tex
